auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

ingester:
  max_chunk_age: 17520h # comment after import (2 years)

limits_config:
  reject_old_samples: false
  reject_old_samples_max_age: 8760h
  unordered_writes: true # comment after import
  ingestion_rate_mb: 16
  ingestion_burst_size_mb: 32
